body{
	margin: 0;
	background:url(http://cdn.makiru.top/404_bg.jpg)no-repeat center center fixed;
	background-size:cover;
	width: 100%;  
    height: 100%;  
}
.container p{
	position: absolute;
	right: 80px;
	top: calc(40%);
	/*text-align:right;*/
	font-size:30px;
	color: darksalmon;
	
}

.beat-char {
    line-height: 3.4em;
    position: relative;
	display: inline-block;
	background: transparent;

}
